/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul, ol {
    padding-left: 18px;
    list-style: none;
}

/* 
    GENERAL
*/
body {
    background-color: #F6F8F9;
}

span{
    display: inline-block;
}

.container {
    width: 75%;
    margin: 0 auto;
}

/* 
    HEADER
*/
header {
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 50px;
}

header h1, header img {
    vertical-align: middle;
}

h1 {
    display: inline-block;
}

/* 
    MAIN
*/
.check-container {
    background-color: white;
    padding: 10px;
    padding-left: 40px;
    border-radius: 20px;
    margin-bottom: 16px;
}

.add-task{
    padding: 10px;
    border-radius: 10%;
    background-color: #47ADF1;
    color: white;
    border:hidden;
}

.add-section{
    padding: 10px;
    border-radius: 10%;
    border-color: lightgray;
    margin-left: 16px;
}

#list-container {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.check {
    border-radius: 50%;
    border: 1px solid grey;
    color: grey;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.done {
    border-color: green;
    color: green;
}

.not-done {
    border-color: red;
    color: red;
}

.list-item{
    padding-top: 40px;
    
}

.padding-li{
    padding: 10px;
}

.padding-label{
    padding: 4px;
    color: white;
    border-radius: 32%;
    border: 1 solid;
    border-color: black;
}

.color-blue{
    background-color: #45ABEA;
}
.color-purple{
 
    background-color: #9C72E4;
}
.color-green{
 
    background-color: #64C0A9;
}
.color-orange{
 
    background-color: #F29E33;
}
.color-pink{
 
    background-color: #D863A1;
}
.color-yellow{
    background-color: #B0C926;
}